body{
    background  :url('../img/bg.png') no-repeat padding-box !important;
    scroll-behavior: none;
}

caption{
    font: bold Poppins;
    color:white;
    font-size: 25px;
}

table{
    margin-top:5%;
    font-size: 20px;
}
th,td
{

    border: 2px solid white;
    color:white;
    padding:10px;
    border-collapse: collapse;
    border-radius: 5px;
}