caption{
    font: bold Poppins;
    color:black;
    font-size: 25px;
}

table{
    margin-top:5%;
    font-size: 20px;
}
th,td
{

    border: 2px solid black;
    color:black;
    padding:10px;
    border-collapse: collapse;
    border-radius: 5px;
}