*{
    margin: 0;
    padding: 0;
}
  
body{
   background: url("../img/bg.png");
   background-size: 100%;
   background-position: fixed 0 -120px;
   background-repeat: no-repeat;
}

table{
    overflow-y: scroll;
}